<nav class="navbar navbar-expand-lg navbar-dark bg-brand sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-semibold d-flex align-items-center" routerLink="/home">
      <img src="logo-speakweb.png" alt="Logo Speakweb" height="36" class="me-2">
      Speakweb
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
        
        @if (authService.isLoggedIn()) {
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/my-communities" routerLinkActive="active">Comunidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3" routerLink="/events" routerLinkActive="active">Eventos</a>
            </li>
        </ul>
        }

        <ul class="navbar-nav ms-auto gap-2 align-items-center">
            @if (authService.isLoggedIn()) {
                <li class="nav-item">
                    <button class="btn btn-sm btn-outline-light" (click)="onLogOut()">Cerrar Sesión</button>
                </li>
            } @else {
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm btn-brand text-white" routerLink="/register">
                        Registrarse
                    </a>
                </li>
            }
        </ul>

    </div>
  </div>  
</nav>