.bg-login-image {
    background: linear-gradient(rgba(3, 150, 166, 0.85), rgba(3, 150, 166, 0.85)), 
                url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=1000&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

@media (max-width: 768px) {
    .bg-login-image {
        min-height: 200px;
    }
}