<div class="card border-0 shadow-sm mb-3 rounded-4 overflow-hidden">

    @if (event.imageUrl) {
        <div class="position-relative" style="height: 140px;">
            <img class="w-100 h-100 object-fit-cover" [src]="getEventImageUrl(event.imageUrl)" [alt]="event.title">
        </div>
    }

    <div class="card-body p-0"> 
        <div class="d-flex align-items-stretch">
            
            <div class="bg-brand text-white p-3 d-flex flex-column align-items-center justify-content-center text-center"
                 style="min-width: 100px;">
                <span class="display-6 fw-bold mb-0 lh-1">
                    {{ event.startTime | date:'d' }}
                </span>
                <span class="small text-uppercase fw-bold">
                    {{ event.startTime | date:'MMM' | uppercase }}
                </span>
            </div>

            <div class="p-3 flex-grow-1 d-flex flex-column justify-content-center">
                <a [routerLink]="['/event', event.id]" class="text-decoration-none text-reset">
                    <h5 class="fw-bold text-navy mb-1" style="cursor: pointer;">{{ event.title }}</h5>
                </a>
            

                <div class="text-muted small mb-2">
                    <span class="text-brand">🕖</span> 
                    {{ event.startTime | date: 'MMM' | uppercase }}
                    <span class="mx-1">|</span> 
                    📍 {{ event.location }}
                </div>

                <p class="small text-muted mb-3">
                    {{ event.description }}
                </p>

                @if (event.type === 'ONLINE' && event.externalLink) {
                    <div class="mb-3">
                        @if (isEventOpen()) {
                            <a [href]="event.externalLink" target="_blank" class="btn btn-sm btn-info text-white rounded-pill px-3 shadow-sm">💻Entrar a la videollamada</a>
                        } @else {
                            <button class="btn btn-sm btn-secondary rounded-pill px-3 shadow-sm" disabled>
                                🔒 La sala se abrirá 15 min antes
                            </button>
                        }
                    </div>
                }

                <div>
                    @if (!joined) {
                        <button class="btn btn-sm btn-outline-brand rounded-pill px-4" (click)="onRegister()"> Asistiré 👋 </button>
                    } @else {
                        <button class="btn btn-sm btn-outline-danger rounded-pill px-4" (click)="onLeave()">x No asistiré</button>
                    }

                    <button class="btn btn-sm btn-light border rounded-pill px-4 shadow-sm" [routerLink]="['/event', event.id]">Ver evento</button>
                </div>
            </div>
        </div>
    </div>

</div>