.group-log {
    width: 100px;
    height: 100px;
    background-color: #F8F9FA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: 2px solid var(--speakweb-teal);
    color: var(--navy-blue);
}