<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Mis Comunidades</h2>
        <button class="btn btn-outline-brand" routerLink="/home">
            Buscar más grupos
        </button>
    </div>

    @if (isLoading) {
        <div class="alert alert-info">
            Cargando tus comunidades...
        </div>
    }

    @if (!isLoading && myMemberships.length === 0) {
        <div class="alert alert-warning text-center">
            <h4>Aún no perteneces a ninguna comunidad.</h4>
            <p>Ve al inicio y únete a una para empezar a practicar</p>
            <a routerLink="/home" class="btn btn-primary mt-2">
                Ir al Inicio
            </a>
        </div>
    }

    <div class="row">
        @for (member of myMemberships; track member.id) {
            <div class="col-md-4 mb-4">
                <div class="card border-0 h-100 shadow">
                    <div class="card-body">
                        <a [routerLink]="['/group', member.group.id]" class="text-decoration-none" style="cursor: pointer;">
                        <h5 class="card-title text-brand fw-bold">
                            {{ member.group.name }}
                        </h5>
                        </a>
                        <p class="card-text text-muted small">
                            Idiomas {{ member.group.language1.name }} & {{ member.group.language2.name }}
                        </p>

                        <div class="mb-3">
                            <strong class="text-secondary">Tu rol: </strong>
                            @if (member.isExpert) {
                                <span class="badge badge-expert">Experto / Nativo</span>
                            } @else {
                                <span class="badge bg-secondary">Aprendiz</span>
                            }
                        </div>

                        <a [routerLink]="['/group', member.group.id]" class="btn btn-brand text-white w-100">
                            Entrar al grupo
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>


</div>